.container {
  padding: 30px 50px;
  border: 1px solid #eaeaea;
  box-shadow: 7px 7px 20px 0px #e8e8e8cf;
  margin-top: 100px;
}

.title {
  font-weight: bold;
}

.header {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.desc {
  margin-top: 30px;
}

. item {
  margin-bottom: 10px;
}
