.card {
  border: 1px solid #eaeaea;
  box-shadow: 7px 7px 20px 0px #e8e8e8cf;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  padding: 30px;
  margin-bottom: 10px;
  &__left {
    width: 75%;
    max-height: 133px;
    overflow: hidden;
  }
  &__right {
    width: 20%;
  }
}

.title {
  font-weight: bold;
  margin-bottom: 20px;
}

.desc {

}

.icons {
  list-style: none;
  margin: 0;
  .item {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 30px;
    &__icon {
      color: grey;
      margin-right: 20px;
      line-height: 30px;
    }
    &__value {

    }
  }
}

.details-btn {
  width: 100%;
  margin-top: 20px;
}
