<div class="wrapper">
  <section class="first" *ngIf="firstPage">
    <div class="title">Contacts of sales manager of this project costs <b class="title__heighlight">20</b> coins</div>
    <button class="btn btn-purple" (click)="firstGetContactsClick()">Get contacts</button>
  </section>

  <section class="second" *ngIf="!firstPage">
    <div class="title">
      <span> You have <b class="title__heighlight">348</b> coins </span>
      <span> <a href="">   (get more)</a> </span>
    </div>
    <button class="btn btn-purple" (click)="secondGetContactsClick()">Get contacts</button>
  </section>

</div>
