<div class="container" [@fadeInAnimation]="true" [ngClass]="{'portfolio': isPortfolio}">
  <p class="container__title">Add new project</p>

  <form class="form flex" [formGroup]="documentForm">
    <section class="column column__left">
      <mat-form-field
        class="example-full-width input">
        <input
          matInput
          placeholder="Title"
          formControlName="title">
      </mat-form-field>
      <mat-form-field>
          <textarea
            matInput
            placeholder="Description"
            formControlName="description">
          </textarea>
      </mat-form-field>
      <mat-form-field class="">
        <mat-select
          formControlName="term"
          placeholder="Term">
          <mat-option value="{{option}}" *ngFor="let option of budgetFilterOptions">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="">
        <mat-select
          formControlName="type"
          placeholder="Type">
          <mat-option value="{{option}}" *ngFor="let option of typeOptions">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="budget">
        <span class="budget__text"> Budget $ </span>
        <ng5-slider
          (valueChange)="budgetFromChange($event)"
          (highValueChange)="budgetToChange($event)"
          [(value)]="minValue"
          [(highValue)]="maxValue"
          [options]="budgetOptions">
        </ng5-slider>
      </div>
    </section>
    <section class="column column__right" *ngIf="!isPortfolio">
      <caypro-team [formSubmitted]="formSubmitted" (onFormSave)="onFormSave($event)"></caypro-team>
    </section>
  </form>
  <div class="buttons flex">
    <button class="btn btn-gray" (click)="close()">Cancel</button>
    <button class="btn btn-purple" type="submit" (click)="save()">Save</button>
  </div>
</div>
