@import './_variables.scss';
@import '~@angular/material/theming';
@include mat-core();

$bl-primary: mat-palette($mat-deep-purple);
$bl-accent:  mat-palette($mat-deep-purple, 700, 800, 900);
$bl-warn:    mat-palette($mat-red);

$bl-theme: mat-light-theme($bl-primary, $bl-accent, $bl-warn);

@include angular-material-theme($bl-theme);
