
<div class="full-width">
  <div class="container">
    <ul class="menu flex">
      <li class="menu__item menu__item_project" >
        <i class="menu__item_icon material-icons" [routerLink]="'./add'">add_circle</i>
        <span class="menu__item_link" [routerLink]="'./projects'">Projects</span>
      </li>
      <li class="menu__item menu__item_project">
        <span class="menu__item_link" [routerLink]="'./companies'">Companies</span>
      </li>
    </ul>

    <ul class="login">
      <li class="menu__item" *ngIf="loggData?.state">
        <a routerLink="../../auth" routerLinkActive="active">Login</a>
      </li>
      <li class="menu__item" *ngIf="!loggData?.state">
        <div class="icon">
          <button class="icon__btn" [matMenuTriggerFor]="menu"></button>
          <mat-menu #menu="matMenu">
            <span class="icon__email" mat-button>{{loggData?.user?.email}}</span>
            <button mat-menu-item [routerLink]="'./portfolio'">My portfolio</button>
            <button mat-menu-item [routerLink]="'./my-projects'">My projects</button>
            <button mat-menu-item [routerLink]="'./my-proposals'">My proposals</button>
            <button mat-menu-item [routerLink]="'../../../auth'">Logout</button>
          </mat-menu>
        </div>
      </li>
    </ul>
  </div>
</div>
